[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip_glob = ["venv/*", ".venv/*", "*.pyc"]

[tool.pylint.messages_control]
disable = [
    "C0111",  # missing-docstring (we'll add them gradually)
    "R0903",  # too-few-public-methods
    "R0913",  # too-many-arguments
]

[tool.flake8]
max-line-length = 100
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    "venv",
    "build",
    "dist",
]
ignore = [
    "E501",  # line too long (handled by black)
    "W503",  # line break before binary operator (conflicts with black)
]

